@import (reference) "style.less";

@media screen and (min-width: 1600px) {
  div.post {
    width: 19%;
  }
}

@media screen and (max-width: @desktop-hd) {
  div.post {
    width: 32.33%;
  }

  .modal {
    .close-btn {
      background: @primary-color;
      border: none;
      border-radius: 0;
      position: initial;
      width: 100%;

      &:hover {
        border: none;
      }
    }

    h4 {
      margin: 1rem auto 2rem auto;
    }
  }
}

@media screen and (max-width: @desktop) {
  section.sidebar {
    display: none;
  }

  section.content {
    width: 100vw;
  }
}

@media screen and (max-width: @tablet) {
  div.post {
    width: 49%;
  }
}

@media screen and (max-width: @phablet) {
  div.post {
    margin: 4px;
    width: 100%;
  }

  .modal .content {
    padding: 1.5rem;
  }
}
