@import (reference) "style.less";

body,
html {
  margin: 0;
}

.sidebar {
  background: darken(@dark-grey, 10);
  color: white;
  display: table-cell;
  height: 100vh;
  width: 20vw;
  min-width: 24rem;
}

.content {
  display: table-cell;
  height: 100vh;
  width: 80vw;
}

nav {
  background: @primary-color;
  color: white;
  height: 7rem;
}

img {
  height: 100%;
  width: 100%;
}
