@import (reference) "style.less";

* { box-sizing: border-box }

body,
html {
  margin: 0;
}

body {
  background: @background-color;
}

p {
  word-wrap: break-word;
}

.modal {
  display: none;
  background: rgba(30,30,30,0.95);;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  overflow-y: scroll;
  text-align: center;

  .body {
    display: inline-block;
    width: 94%;
    max-width: 80rem;
  }

  h4 {
    color: white;
    width: 94%;
    max-width: 80rem;
    margin: 3rem auto;
  }

  .content {
    border-radius: 2px;
    background: white;
    display: inline-block;
    font-size: 1.6rem;
    margin-bottom: 3rem;
    padding: 2rem;
    text-align: left;
    width: 100%;

    img {
      position: relative;
      left: 50%;
      min-width: 240px;
      transform: translateX(-50%);
      height: auto;
      width: auto;
      max-width: 100%;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  .close-btn {
    border: 1px solid white;
    color: white;
    position: fixed;
    right: 2rem;
    top: 2rem;

    &:hover {
      background: @primary-color;
      border: 1px solid @primary-color;
      color: white;
    }
  }
}

.app {
  display: table;
  height: 100vh;
}

.content {
  display: table-cell;
  width: 84vw;
}

nav {
  background: @primary-color;
  color: white;
  height: 6rem;
  position: relative;

  .container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  h4 {
    margin: 0 auto;
  }
}

img {
  height: 100%;
  width: 100%;
}

.container {
  box-sizing: border-box;
  font-size: 0;
  padding: 0 2%;
  width: 100%;
}

.all-posts {
  padding: 0.7% 1%;

  column-width: 200px;
  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  column-gap: 10px;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
}
