@import (reference) "style.less";

* { box-sizing: border-box }

body,
html {
  margin: 0;
}

body {
  background: @background-color;
}

p {
  word-wrap: break-word;
}

.app {
  display: table;
  height: 100vh;
}

.content {
  display: table-cell;
  width: 84vw;
}

nav {
  background: @primary-color;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.04);
  color: white;
  height: 6rem;
}

img {
  height: 100%;
  width: 100%;
}

.container {
  box-sizing: border-box;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  flex-wrap: wrap;
  font-size: 0;
  padding: 0 2%;
  width: 100%;
}

.all-posts {
  padding: 1%;
}
