@import (reference) "style.less";

.post {
  background: white;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.04);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  height: 100%;
  margin-bottom: 1rem;
  padding: 1rem 1.2rem 0.5rem 1.2rem;
  position: relative;
  vertical-align: top;
	width: 100%;
  margin: 5px 0.5%;

  h5 {
    margin-bottom: 1rem;
  }

  img {
    object-fit: contain;
  }

  a {
    color: lighten(@dark-grey, 40);
    font-size: 1.3rem;
    font-style: italic;
  }

  p {
    margin-bottom: 0.8rem;
  }

  .icon-holder {
    text-align: center;

    img {
      margin: 1.5rem 0 1rem 0;
      width: 40%;
    }
  }

  .pdf.icon-holder {
    background: #D80027;
  }

}

.post .overlay-icons {
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1000;

  div {    
    border-right: 1px solid darken(white, 20);
    display: inline-block;
    padding: 1rem 0 0.5rem 0;
    vertical-align: middle;
    width: 33.33%;
  }

  div.fav-icon.active {
    background: @secondary-color;    
  }

  div:last-child {
    border: none;
  }

  div:hover {
    background: @secondary-color;
  }

  img {
    width: 1.8rem;
  }
}

.post:hover .overlay-icons {
  display: inline-block;
}