@import (reference) "style.less";

.post {
  background: white;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.04);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  height: 100%;
  margin-bottom: 1rem;
  padding: 1rem 1.2rem 0.5rem 1.2rem;
  position: relative;
  vertical-align: top;
	width: 100%;
  margin: 5px 0.5%;

  h5 {
    margin-bottom: 1rem;
  }

  img {
    object-fit: contain;
  }

  a {
    color: lighten(@dark-grey, 40);
    font-size: 1.3rem;
    font-style: italic;
  }

  p {
    margin-bottom: 0.8rem;
  }

  .icon-holder {
    text-align: center;

    img {
      margin: 2.2rem 0 1.5rem 0;
      width: 30%;
    }
  }

  .pdf.icon-holder {
    background: #D80027;
  }

}

.post .overlay-icons {
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1000;
  height: 3.2rem;

  div {    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid darken(white, 20);
    display: inline-block;
    margin-top: 0.2rem;
    vertical-align: middle;
    width: 33.33%;
    height: 1.45rem;
  }

  div.fav-icon {
    background-image: url(../sourgems/images/favorite.svg);

    &.active,
    &:hover {
      background-image: url(../sourgems/images/favorite-active.svg);
    }
  }

  div.send-icon {
    background-image: url(../sourgems/images/move.svg);
    height: 1.6rem;

    &:hover {
      background-image: url(../sourgems/images/move-selected.svg);
    }
  }

  div.delete-icon {
    background-image: url(../sourgems/images/deletee.svg);
    height: 1.6rem;

    &:hover {
      background-image: url(../sourgems/images/deletee-active.svg);
    }
  }

  div:last-child {
    border: none;
  }

  div:hover {
  }

  img {
    width: 1.8rem;
  }
}

.post:hover .overlay-icons {
  display: inline-block;
}