@import (reference) "style.less";

.sidebar {
  background: darken(@dark-grey, 10);
  color: white;
  display: table-cell;
  position: relative;
  width: 16vw;
  min-width: 24rem;
  padding-top: 8rem;
  vertical-align: top;

  .logo {
    background: @primary-color;
    position: absolute;
    top: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    padding: 1.2rem 0;

    img {
      height: 33px;
      width: 177px;
      margin-left: 2rem;
    }
  }

  ul {
    padding: 0 2rem;
  }

  li {
    list-style-type: none;

    a {
      color: @light-grey;
      text-decoration: none;
    }

    a:hover {
      color: #FE6A5E;
    }
  }

  a.active {
    color: #FE6A5E;
  }

  .links {
    li:last-child {
      padding-bottom: 2rem;
      border-bottom: 1px solid @light-grey;
    }
  }
}
